.back{
  display: block;
  position: absolute;
  z-index: 10;

  width: 100%;
  height: 100%;
  overflow: hidden;
transition: all 2s;
  background-color: rgba(255, 255, 255, 0.8);
}

.my-message {
   position: absolute;
   width:534px;
   height:385px;
   top:200px;
   left:50%;
   margin: 0px -267px;
   background-color:white;
   border: 2px groove #432982;
   border-radius: 0.5em;
   animation: form-fly-up 0.35s ease;
}

@keyframes form-fly-up {
    0% { transform: translateY(500px); }
    50% { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

@-webkit-keyframes form-fly-up {
    0% { transform: translateY(500px); }
    50% { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

.my-message-title {
  position: absolute;
  left: 4%;
  top: 9%;
  height:20px;
  font-size:120%;
  background-color:white;
}
.my-message-body {
  position: absolute;
  left: 4%;
  top: 16%;
  padding: 5px;
  height: 50px;
}

.my-message-close {
    position: absolute;
    right: 5%;
    top: 5%;
    color: #432982;
    cursor: pointer;
}
