@font-face {
    font-family: "Ekibaztus Bold";
    src: url(../fonts/bold.otf);
}

@font-face {
    font-family: "Ekibaztus";
    src: url(../fonts/regular.otf)
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 600px;

    font-family: Ekibaztus, sans-serif;
}

header {
    height: 20%;
    width: 100%;
    position: relative;

    display: table;
    margin: 0 auto;

    font-family: "Ekibaztus Bold", sans-serif;
    font-size: 1.2em;
}

#head_wrapper {
    height: 100%;
    width: 50%;

    display: table-cell;
    vertical-align: middle;
}

#slogan_wrapper {
    height: 100%;
    width: 80%;
    display: table-cell;
    vertical-align: middle;
}

#logo_wrapper {
    height: 100%;
    width: 20%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#slogan_wrapper h1 {
    margin-bottom: 10px;
}

#slogan_wrapper #name {
    font-size: 1.5em;
}

#logo {
    position: relative;
    width: 70%;
    max-height: 120px;
}

#contacts {
    height: 100%;
    width: 20%;
    display: table-cell;
    vertical-align: middle;
}

#contacts #phone {
    height: 100%;
    display: table-row;
}

#phone span {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 50%;
}

#phone i {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 50%;
}

section {
    height: 80%;
    width: 80%;

    position: relative;
    margin: 0 auto;


}

#info_wrapper {
    height: 35%;
    display: table;

    width: 100%;
    position: relative;
}

#description {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    width: 100%;
}

#description span {
    font-weight: 900;

    font-size: 3em;
}

#button_wrapper {
    width: 100%;
    text-align: center;

    height: 10%;
    position: relative;
}

#button_wrapper button {
    border: 2px solid #432982;
    color: #432982;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: white;

    transition: background-color 0.5s, color 0.5s;

    cursor: pointer;
}

#button_wrapper button:hover {
    color: white;
    background-color: #432982;
}

#services_wrapper {
    width: 100%;
    height: 55%;
    position: relative;
}

#services {
    display: table;
    height: 70%;
    width: 100%;
}

#services_descriptions {
    display: table;
    height: 30%;
    width: 100%;
}

.icon_wrapper, .service_desc {
    width: 25%;
    height: 50%;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.icon {
    width: 50%;
}


/* BLUR */

canvas {
    display:block;
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
}

#glass {
    display: block;
    position: absolute;
    top: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;


}

#white {
    display: block;
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.7);
}

#gears {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.gear {
    width: 10%;
    min-width: 50px;
    max-width: 150px;

    position: absolute;
}

.gear:nth-child(2n + 1) {
     animation: rotation_second 12s infinite linear;
}

.gear:nth-child(2n) {
     animation: rotation_clock 12s reverse infinite linear;
}

#extra_gear {
    right: 0;
    top: 0;
}

.gear:nth-child(2) {
    right: 8%;
    top: 10%;
}

.gear:nth-child(3) {
    bottom: 0;
    right: 0;
}

.gear:nth-child(4) {
    bottom: 5%;
    right: 8%;
}

.gear:nth-child(5) {
    right: 5%;
    top: 23%;
}

.gear:nth-child(6) {
    bottom: 20%;
    right: 0;

    animation: rotation_clock reverse 12s infinite linear;
}

.gear:nth-child(7) {
    bottom: 0;
}

#big_gear {
    max-width: none;
    width: 20%;

    top: 20%;
}


#click_me {
    width: 10%;
    height: 10%;

    position: absolute;
    z-index: 100;

    right: 0;
    top: 0;

    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@keyframes rotation_clock {
    from {
        transform: rotate(0deg);
    }
    to  {
        transform: rotate(360deg)
    }
}

@keyframes rotation_second {
    from {
        transform: rotate(15deg);
    }
    to  {
        transform: rotate(375deg)
    }
}


#modal_wrapper {
    display: none;
    position: absolute;
    z-index: 10;

    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: rgba(255, 255, 255, 0.8);
}

#modal {
    position: absolute;
    display: table-cell;
    vertical-align: middle;

    width: 100%;
    height: 100%;
}

#modal form {
    position: absolute;

    width: 40%;
    max-width: 400px;
    min-width: 200px;

    height: 40%;
    max-height: 240px;
    min-height: 120px;

    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: white;
    border-radius: 1em;
    border: 2px solid #432982;
    padding: 1em;

    text-align: center;

    animation: form-fly-up 0.35s ease;
}

@keyframes form-fly-up {
    0% { transform: translateY(500px); }
    50% { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

@-webkit-keyframes form-fly-up {
    0% { transform: translateY(500px); }
    50% { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

#modal h4 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

#modal input {
    padding: 0.5em;

    border: 1px solid #432982;
    margin-bottom: 1px;
}

#modal input:focus {
    box-shadow: inset 0 0 3px #432982;
}

#modal input[type=submit] {

    margin: 0.5em 0;

    background-color: white;
    border: 2px solid #432982;
    border-radius: 0.5em;

    transition: background-color 0.5s, color 0.5s;
}

#modal input[type=submit]:hover {
    background-color: #432982;
    color: white;

    cursor: pointer;
}

#modal form span {
    position: absolute;

    right: 5%;
    top: 5%;

    color: #432982;

    cursor: pointer;
}
